* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-image: url('/home/mozes721/Desktop/js_projects/Memory_game/images/wood.jpg');
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 150px;
}

.selected {
  border: 6px solid darkblue;
}

.match {
  border: 6px solid red;
  background-image: none !important;
}

